html{
    font-family:"Rubik",sans-serif;
    scroll-behavior: smooth;
}

li{
    /* remove the marker or bullets */
    list-style: none;
}

a{
    /* inhereit from its parent element */
    font: inherit;
    /* remove the underlines from the link */
    text-decoration: none;
}

button{
    font: inherit;
    border: none;
    background: none;

}

img, svg,ion-icon,span,button{
    /* starts on a new line */
    display: block;
}

.container{
    position: relative;
    max-width: 1440px;
    /* margin auto center aline the html elements */
    margin: auto;
    background: #ffffff;
    overflow: hidden;

}

/* Header */
.navbar{
    position: fixed;
    top: 0;
    left: 50%;
    /* moving the element along the x axis */
    transform: translateX(-50%);
    width: 100%;
    padding: 20px 30px 10px 10px ;
    background: hsla(0, 0%, 100%, 0.99);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);
    z-index: 5;
}

.navbar-wrapper{
    display: flex;
    justify-content: space-around;
}

.navbar-nav{
    position: static;
    /* make transparent */
    opacity: 1;
    width: auto;
    height: auto;
    padding: 0;
    /* laying elements in a row */
    display: flex;
    align-items: left;
    gap: 30px;
}

.nav-link{
    color: black;
    font-size: 22px;
    /* effect with a slow start */
    transition: 0.25s ease ;
    

}

.nav-link:hover{
    color: rgb(75, 127, 204);
}

/* home */
.home{
    /* grid layout, rows and coloms like microsoft excel */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
    padding: 10px;

}

.home-left{
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.1;
    /* spacing between letters */
    letter-spacing: 2px;
    margin-bottom: 30px;
    
}

.home-right{
    position: relative;
    aspect-ratio: 10/11;
    padding-top: 20%;

}

main{
    margin-top: 300px;

}

.food-img{
    position: absolute ;
    width: 60%;

}

.food-1{
    top: 25%;
    left: -4%;
}

.food-2{
    top: 12%;
    right: -4%;
}

.food-3{
    top: 40%;
    right: -5%;
}

.about{
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 60px;
    align-items: center;
}

.about-right .section-title{
    margin-bottom: 30px;

}

.about-right p{
    max-width: 100%;
    margin-bottom: 20px;
    line-height: 1.5;
    
}

/* service */
.services{
    padding: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.card-number{
    font-size: 48px;
    font-family: "Monoton", cursive;
    color: rgb(163, 163, 49);
    margin: 0;

}

.card-heading{
    color: black;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 20px;
    display: inline;
}

.card-text{
    color: black;
    font-size: 16px;
    line-height: 1.5;
}